.header{
    background-color: #9fa0a1 !important;    
}
.iconHeader{
    font-size:10px;
    color:black;
    background-color:#d5d6d6 !important;
    margin:1px;
    border-radius:3px;
    /* box-shadow: inset 0px 0px 0px 1px #E9E9E9; */


}
/* ######### content ########################### */
.content{
    min-height:500px;
    background-color:white;
}
.content1{
    min-height:1000px;
    height: 100%;
    background-color:'orange';
    margin:1%;
}
.cont1div1{
    background-color:rgb(250, 250, 250);
    border: 1px solid black;
    min-height:200px;
    padding:10px;
    margin: 1%;
    border-radius: 3px;
    border-color:white;
    box-shadow: inset 0px 0px 0px 1px #E9E9E9;
}
.cont1div2{
    background-color:rgba(113, 90, 200, 0.1) !important;
    color:#715ac8 !important;
    border: 1px solid black;
    height:auto;
    padding:10px;
    margin: 1%;
    border-radius: 5px;
    border-color:white;
    box-shadow: inset 0px 0px 0px 1px #E9E9E9;
}
.cont1div3{
    background-color:rgb(250, 250,250);
    border: 1px solid black; 
    min-height:200px;
    padding:10px;
    margin: 1%;
    border-radius: 5px;
    border-color:white;
    box-shadow: inset 0px 0px 0px 1px #E9E9E9;
   
}
.cont1div3MarginTop{
    margin-top:20px;
}
.icon1{
    font-size:'40px';
    float:left;
    padding:10px;
    
}
.icon2{

background-color:rgb(192, 181, 183);
border:1px solid white;
width:100px;
height:30px;
color:black;
float:left;
margin-top:-15px;
margin-left:-15px;
border-radius: 5px;
}
.text1{
    font-size: 1.3em;
    float:left;
    padding:10px;
}
.button1{
    background-color:#1472ff;
    color:white;
    padding:10px;;
    float:right;
    margin:2%;
}
.floatLeft{
    float:left;
}



/* ################## footer #################### */
.footer{
    background-color: #acacac;
}